<h2 mat-dialog-title>Detalhes do Pedido #{{data.id}}</h2>

<mat-dialog-content>
  <div class="pizzas-list">
    <div *ngFor="let pizza of data.pizzas" class="pizza-item">
      <div class="pizza-header">
        <span class="pizza-size">Pizza {{pizza.size}}cm</span>
        <span class="pizza-quantity">x{{pizza.quantity}}</span>
      </div>
      
      <div class="pizza-flavors">
        <ng-container *ngFor="let flavor of pizza.flavors">
          <div class="flavor-item">
            <span class="flavor-name">{{flavor.portion === 'half' ? '1/2 ' : ''}}{{flavor.name}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions> 